<%- include('partials/homeHeader.ejs') %>

<% if(listArray.length === 0){ %>

  <div class="no-lists-div">
    <p class="no-lists-line">No lists created yet!</p>
  </div>

<% } else { %>


<div class="main-container">
  <% listArray.forEach(function(list){ %>
    <a href="/<%= userId %>/lists/<%= list.name %>">
      <div class="list-name">
        <h1><%= list.name %></h1>
        <form action="/<%= userId %>/delete" method="POST">
          <button type="submit" name="deleteButton" value="<%= list._id %>" class="delButton"><i class="far fa-trash-alt"></i></button>
        </form>
        <!-- opt2 for button -->
        <!-- <button><i class="fa fa-minus"></i></button> -->
      </div>
    </a>
  <% }) %>
</div>

<% } %>

<%- include('partials/footer.ejs') %>
